<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact Me</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href='/static/css/style.css'>
</head>

<body>
	<header id="header">
		<a href="/index">Homepage</a>
		<a href="/about">About Me</a>
		<a href="/contact">Contact Me</a>
		<a href="/resume">Resume</a>

	</header>


	<div id="submitResult">
	</div><br />

	<ul>
		{% for notification in notifications %}
		<li>{{ notification }}</li>
		{% endfor %}
	</ul>

	<form id="contactMeForm" action="/contact" onsubmit="return validation_check()" method="POST">
		<label>Name:</label><br />
		<input type="text" name="Name" size="30"><br />
		<label>Email:</label><br />
		<input type="text" name="Email" size="30"><br />
		<label>Subject:</label><br />
		<input type="text" name="Subject" size="30"><br />
		<label>Message:</label><br />
		<textarea name="Message" class="messageBox"></textarea><br />
		<input type="submit" name="submit" value="Submit"><br />
	</form>
	<br />

	<script src="/static/js/script.js "></script>
</body>

</html>