<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clark's blog</title>
	<link rel="stylesheet" type="text/css" href='/static/css/style.css'>
	<script src="/static/js/weather.js"></script>

</head>

<body id="index_page">

	<header id="header">
		<a href="/index">Homepage</a>
		<a href="/about">About Me</a>
		<a href="/contact">Contact Me</a>
		<a href="/resume">Resume</a>

	</header>

	<h4 id="city">City: </h4>
	<h4 id="temp">Temperature: </h4>
	<h4 id="humi">Huminity: </h4>

</body>

</html>