<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clark's blog</title>
	<link rel="stylesheet" type="text/css" href='/static/css/style.css'>

</head>

<body id="index_page">

	<header id="header">
		<a href="/index">Homepage</a>
		<a href="/about">About Me</a>
		<a href="/contact">Contact Me</a>
		<a href="/admin">Admin</a>
	</header>

	<h1>All Blogs</h1>
	<h2><a href="/blog/8-experiments-in-motivation">8 Experiments in Motivation</a></h2>
	<h2><a href="/blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></h2>
	<h2><a href="/blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></h2>
	<h2><a href="/blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></h2>
	<h2><a href="/blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></h2>


	<footer id="footer_bot">
		<a href="/index">Homepage</a>
		<a href="/about">About Me</a>
		<a href="/contact">Contact Me</a>
		<a href="/admin">Admin</a>

	</footer>

</body>

</html>